<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<p>Estimado/a estudiante<br>
		<strong>{{estudiante.nombre}} {{estudiante.ap_paterno}} {{estudiante.ap_materno}}</strong></p>
		<p>Junto con saludar, se informa que, desde la coordinación de gestión de centros de Práctica de la UPP, ha sido adscrito/a a <strong>{{nombre_establecimiento}}</strong>, para desarrollar su {{nivel_practica}}, que inicia la semana del {{semana_inicio}} hasta la semana del {{semana_termino}}.</p>
		<p>Los datos de contacto del establecimiento son:</p>
		<ul>
			<li>Nombre directivo: {{directivo.nombre}}</li>
			<li>Cargo: {{directivo.cargo}}</li>
			<li>Correo electrónico: {{directivo.email}}</li>
		</ul>
		<p>Posterior a este correo, deberá coordinar el inicio de su pasantía de acuerdo al calendario de prácticas UCSC y hacer entrega de su carpeta de práctica y documentación personal, que incluye:</p>
		<ul>
			<li>Certificado de Antecedentes</li>
			<li>Certificado de Inhabilidades para trabajar con menores de edad</li>
			<li>Certificado de Inhabilidades por maltrato relevante</li>
			<li>Horario universitario</li>
			<li>Otra documentación</li>
		</ul>
		<p>Se informa, además, que el equipo directivo del establecimiento está en conocimiento de su adscripción y por tanto es importante que asista presencialmente al centro educativo.</p>
		<p>Atentamente,<br>
		Coordinación de Gestión de Centros de Práctica Pedagógica<br>
		Unidad de Práctica Pedagógica<br>
		Facultad de Educación<br>
		Universidad Católica de la Santísima Concepción<br>
		Alonso de Ribera 2850 - Concepción - Chile<br>
		Fono +56 412345856<br>
		www.ucsc.cl</p>
	</body>
</html>
